apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../apps/generated-app
  - sealed-secret-prod.yaml
namespace: agnetz-prod
patches:
  - target:
      kind: Namespace
      name: agnetz
    path: patch-namespace.yaml
  - target:
      kind: Deployment
      name: backend
    path: patch-backend.yaml
  - target:
      kind: Deployment
      name: frontend
    path: patch-frontend.yaml
  - target:
      kind: Ingress
      name: generated-app
    path: patch-ingress.yaml

patches:
  - target:
      kind: Secret
      name: app-secrets
    path: patch-remove-app-secret.yaml
